<ion-app>
  <ion-toolbar>
    <ion-title>Mi perfil</ion-title>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-content>

    <img class="editar" src="../../assets/img/iconoUsuario.png" alt="" style="position: absolute; top: 180px; left: 40px; width: 100px; height: 100px;" />

    <div class="contenidoPerfil">
      <h4>Nombre de Usuario</h4>
      <h6 style="display: inline-block; background-color: white; "> Nombre </h6>
      <h4>Contraseña</h4>
      <h6 style="display: inline-block; background-color: white;"> Contraseña </h6>

      <h6>Tareas completadas: X</h6>
      

    </div>



  </ion-content>

  <ion-footer class="custom-footer">
    <ion-toolbar>
      <ion-button style="color:black" expand="block" color="red">Cerrar sesión</ion-button>
    </ion-toolbar>
  </ion-footer>
  
</ion-app>
