ion-content {
    --background: linear-gradient(to right, #a6a6a6, #ffffff);
  }
.contenidoPerfil{
    text-align: center;
    position: relative;
    top: 120px;
    left: 50px;
  }

.logout-button{
    margin-top: auto;
    margin-bottom: 0;    
}


ion-toolbar {
    --background: red;
  }