<ion-app>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-content>
    <br>
    <br>
    <br>
    <h1 class="titulos">Detalle de la tarea</h1>
    <br>
    <h3 class="letras">TITULO</h3>

    <ion-item>
      <ion-textarea class="areaTexto" placeholder="Sacar al perro" rows="3"></ion-textarea>
    </ion-item>
    <br>
    <br>
    <h3 class="letras">DESCRIPCIÓN</h3>

    <ion-item>
      <ion-textarea class="areaTexto" placeholder="Sacar al perro a pasear al parque" rows="4" [autoGrow]="true"></ion-textarea>
    </ion-item>


    <h3 class="letras">FECHA Y HORA</h3>

    <ion-datetime presentation="date-time" [preferWheel]="true"></ion-datetime>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="block" class="botonActualizar" (click)="actualizar()">
            ACTUALIZAR
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block" class="botonCancelar" (click)="cancelar()">
            CANCELAR
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>








  </ion-content>
</ion-app>